@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

#calendar {
  .currentDate {
    @include display(center, center);
    flex-direction: column;
    margin: 20px;
    .currentYear {
      @include display(center, center);
      margin-bottom: 21px;
    }
    .currentMonth {
      @include display(center, center);
      margin-left: 80px;
    }
    .thisMonth {
      font-weight: 700;
      color: $gray-color;
      font-size: 21px;
    }
    .arrowbtn {
      margin: 0 8px;
      border: none;
      background: none;
      color: $gray-color;
    }
  }
  .calendarWrap {
    text-align: center;
    .oneweek {
      @include display(space-between, center);
      cursor: pointer;
      width: 100%;
    }
    .dayofWeek {
      height: 20px;
      border-bottom: 1px solid #e8e8e8;
    }
    .box {
      padding: 6px 6px;
      box-sizing: initial;
      border-right: 1px solid $lightGray-color;
      border-bottom: 1px solid $lightGray-color;
      color: $gray-color;
      .text {
        position: static;
        width: 32px;
        height: 32px;
      }
      .day {
        position: relative;
        @include display(center, center);
      }
      .selected {
        border-radius: 50%;
        background: $lightGreen-color;
        opacity: 0.5;
        font-weight: 700;
        color: #fff;
      }
      .today {
        border-radius: 50%;
        font-weight: 500;
        background: $lightGreen-color;
        opacity: 0.5;
        color: #fff;
      }
      .isSelected {
        position: relative;
        color: pink;
        font-size: 10px;
        font-weight: 400;
      }
      .isToday {
        position: relative;
        color: #292929;
        font-size: 10px;
        font-weight: 400;
      }
      .none {
        display: none;
      }
      .holiday {
        color: $red-color;
        pointer-events: none;
      }
      .satDay {
        color: $deepGreen-color;
        pointer-events: none;
      }
    }
    .borderBottomnone {
      border-bottom: none;
    }
    .borderRightnone {
      border-right: none;
    }
  }
  .viewMonth {
    width: 60px;
    height: 20px;
    font-size: 12px;
    background: $lightGray-color;
    color: $white-color;
    border: none;
    font-family: "NanumSquareBold";
    margin-left: 20px;
  }
}

/**********************************************************

반응형

***********************************************************/
@media (min-width: 250px) {
  #calendar {
    padding: 48px 0 20px;
    .calendarWrap {
      margin: 60px 0 20px;
      .box {
        width: 40px;
        height: 34px;
        font-size: 14px;
        .selected {
          width: 24px;
          height: 24px;
        }
        .day {
          width: 24px;
          height: 22px;
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  #calendar {
    .calendarWrap {
      .box {
        width: 64px;
        height: 45px;
        font-size: 16px;
        .selected {
          width: 30px;
          height: 30px;
        }
        .day {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  #calendar {
    .calendarWrap {
      .box {
        width: 85px;
        height: 62px;
        font-size: 21px;
        .selected {
          width: 32px;
          height: 32px;
        }
        .day {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  #calendar {
    .calendarWrap {
      .box {
        width: 100px;
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  #calendar {
    margin-right: 0px;

  }
}
@include media-breakpoint-up(xxl) {
  #calendar {
    margin-right: 48px;
    padding: 123px 0;
    .calendarWrap {
      margin: 20px;
      margin-top: 60px;
      .box {
        width: 85px;
      }
    }
  }
}
