#todolist {
  padding: 40px 0;
  .flex-start {
    @include display(flex-start, baseline);
  }
  .todolistWrap {
    margin-bottom: 21px;
    flex-flow: row wrap;
    .title {
      font-family: "NanumSquareBold";
      font-size: 21px;
      letter-spacing: 2px;
    }
  }
  .todolist {
    @include display(space-between, baseline);
    padding: 0;
    .title {
      width: 88%;
    }
    .editBtn {
      border: 2px solid $gray-color;
      background: $white-color;
      color: $gray-color;
      &:hover {
        background: $gray-color;
        color: $white-color;
      }
    }
  }
  .margin-right {
    margin-right: 20px;
  }
  .importance {
    width: 20px;
    height: 20px;
    border: 2px solid;
    margin-right: 20px;

    &-0 {
      border-color: $yellow-color;
    }
    &-1 {
      border-color: $lightGreen-color;
    }
    &-2 {
      border-color: $red-color;
    }
    &-3 {
      border-color: $gray-color;
    }
  }
  .checkedbox {
    background: url("../images/complete.png") no-repeat;
    background-position-y: center;
  }

  .editTodolistWrap {
    display: flex;
    justify-content: flex-start;
    .todolist {
      border: 1px solid $gray-color;
      padding: 15px;
      .todolistForm {
        padding: 0;
        input {
          width: 95%;
          border: none;
          margin-bottom: 5px;
        }
        .repeatWrap {
          margin-right: 50px;
        }
        .box {
          height: 20px;
          font-size: 12px;
          color: $white-color;
          text-align: center;
          line-height: 20px;
          font-family: "NanumSquareBold";
        }
        .selectTitle {
          width: 50px;
          background: $gray-color;
        }
        .radioWrap {
          margin-left: 4px;
          .radio {
            width: 32px;
            margin-bottom: 4px;
            background: $lightGray-color;
          }
          .checkedRadio {
            background: $gray-color;
          }
        }
      }
    }
  }
}
