@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@keyframes moveUp {
  from {
    top: 0;
  }
  to {
    top: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#todolist {
  .flex-start {
    @include display(flex-start, baseline);
  }
  .todolistWrap {
    @include display(flex-start, center);
    margin-bottom: 21px;
    flex-flow: row wrap;
    .title {
      font-family: "NanumSquareBold";
      font-size: 21px;
      letter-spacing: 2px;
    }
    .grayColor {
      color: $gray-color;
    }
  }
  .todolist {
    padding: 0;
    .title {
      width: 81%;
    }
    .editBtn {
      border: 2px solid $gray-color;
      background: $white-color;
      color: $gray-color;
      &:hover {
        background: $gray-color;
        color: $white-color;
      }
    }
    .checkboxBtn {
      background: none;
      border: none;
      padding: 0;
    }
  }
  .margin-right {
    margin-right: 20px;
  }
  .importance {
    width: 20px;
    height: 20px;
    border: 2px solid;

    &-0 {
      border-color: $yellow-color;
    }
    &-1 {
      border-color: $lightGreen-color;
    }
    &-2 {
      border-color: $red-color;
    }
  }
  .grayBox {
    border-color: $gray-color;
  }
  .checkedbox {
    background: url("../images/complete.png") no-repeat;
    background-position-y: center;
  }

  .newTodolistWrap {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 21px;
    .todolist {
      border: 1px solid $gray-color;
      padding: 15px;
      .todolistForm {
        padding: 0;
        input {
          width: 95%;
          border: none;
          margin-bottom: 5px;
          font-size: 21px;
          font-family: "NanumSquareBold";
        }
        .box {
          height: 20px;
          font-size: 12px;
          color: $white-color;
          text-align: center;
          line-height: 20px;
          font-family: "NanumSquareBold";
        }
        .selectTitle {
          width: 50px;
          background: $gray-color;
        }
        .radioWrap {
          margin-left: 4px;
          .radio {
            width: 32px;
            margin-bottom: 4px;
            background: $lightGray-color;
          }
          .checkedRadio {
            &-0 {
              background: $yellow-color;
            }
            &-1 {
              background: $lightGreen-color;
            }
            &-2 {
              background: $red-color;
            }
            background: $gray-color;
          }
        }
      }
    }
  }

  .fadeIn {
    position: relative;
    animation-name: fadeIn;
    animation-duration: 1s;
  }
  .fadeOut {
    position: relative;
    animation-name: fadeOut;
    animation-duration: 1s;
  }
  .moveUp {
    position: relative;
    animation-name: moveUp;
    animation-duration: 1s;
  }
  .todolistDate {
    font-size: 12px;
    color: $deepGray-color;
    margin-bottom: 5px;
  }
}

/**********************************************************

반응형

***********************************************************/
@media (min-width: 250px) {
  #todolist {
    padding: 20px 0 123px;
    .todolistWrap {
      margin-right: 3%;
      .todolist {
        @include display(flex-start, baseline);
        .title {
          width: 69%;
        }
      }
    }

    .newTodolistWrap {
      .todolist {
        .todolistForm {
          width: 87%;
          .flex-flow {
            flex-flow: column;
            .repeatWrap {
              margin-right: 21px;
            }
          }
        }
      }
      .width {
        width: 86%;
        margin-right: 3%;
        margin-left: 0;
      }
    }
    .importance {
      margin-right: 10px;
    }
    .editForm {
      width: 86%;
      margin-left: 8%;
    }
  }
}

@include media-breakpoint-up(sm) {
  #todolist {
    .todolistWrap {
      .todolist {
        @include display(space-around, baseline);
        .title {
          width: 78%;
        }
      }
    }

    .newTodolistWrap {
      .todolist {
        .todolistForm {
          width: 100%;
          .flex-flow {
            flex-flow: initial;
            .repeatWrap {
              margin-right: 50px;
            }
          }
        }
      }
      .width {
        width: 100%;
      }
    }
    .importance {
      margin-right: 20px;
    }
    .editForm {
      width: 90%;
      margin-left: 7%;
    }
  }
}

@include media-breakpoint-up(md) {
  #todolist {
    .todolistWrap {
      .todolist {
        .title {
          width: 81%;
        }
      }
    }
    .editForm {
      width: 91%;
      margin-left: 6%;
    }
  }
}
@include media-breakpoint-up(lg) {
  #todolist {
    .todolistWrap {
      .todolist {
        .title {
          width: 86%;
        }
      }
    }
  }
  .editForm {
    width: 92%;
    margin-left: 5%;
  }
}
@include media-breakpoint-up(xxl) {
  #todolist {
    padding: 123px 0;
    .todolistWrap {
      .todolist {
        .title {
          width: 81%;
        }
      }
    }
    .editForm {
      width: 91%;
      margin-left: 6%;
    }
  }
}
