.loginWrap {
  @include display(center);
  flex-direction: column;
  min-height: 93vh;
  font-family: "NanumSquareBold";
  font-size: 23px;

  .logoWrap {
    margin-bottom: 47px;
  }

  .inputWrap {
    margin-bottom: 16px;
    .inputBox {
      width: 325px;
      height: 60px;
      background: $lightGray-color;
      border: none;
      padding-left: 19.5px;
      color: $deepGray-color;
      &::placeholder {
        color: $white-color;
        font-size: 23px;
      }
      &:-webkit-autofill {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: $deepGray-color;
      }
      &:focus {
        outline: none;
      }
    }

    .passwordInfo {
      color: $lightGray-color;
      font-size: 13px;
    }
  }
  .loginInput{
    position: relative;
    .inputBox{
      font-size: 16px;
    }
    .userCheck{
      position: absolute;
      top: 10px;
      right: 13px;
      .uesrCheckBtn{
        border: none;
        width: 76px;
        height: 26px;
        font-size: 13px;
        color: $white-color;
      }
      .abledBtn{
        background: #439643;
      }
      .disaledBtn{
        background: $gray-color;
      }
    }
  }
  .btnWrap {
    .size-btn {
      width: 325px;
      height: 80px;
      color: $white-color;
      border: none;
    }
    .deepGreen-btn {
      background: $deepGreen-color;
    }
    .lightGreen-btn {
      background: $lightGreen-color;
    }
    .disaled {
      background: $gray-color;
    }
    .dashline {
      border-bottom: 2px dashed $lightGray-color;
      margin: 9.5px 0;
    }
  }
  .errorMsg {
    margin-bottom: 0;
    font-size: 13px;
  }
  .errorMsg-not {
    @extend .errorMsg;
    color: $red-color;
  }
  .errorMsg-ok {
    @extend .errorMsg;
    color: $lightGreen-color;
  }
}
