body {
  font-family: "NanumSquare";
}
.container-fluid{
  padding: 0;
}

.displayNone{
  display: none;
}
.margin0px{
  margin-bottom: 0;
}

.margin-right5px{
  margin-right: 5px;
}
.errorMsg {
  margin-bottom: 0;
  font-size: 13px;
}
.errorMsg-not {
  @extend .errorMsg;
  color: $red-color;
}
.errorMsg-ok {
  @extend .errorMsg;
  color: $lightGreen-color;
}